.mapouter{
    position: relative;
    text-align: right;
    height: 280px;
    width: 400px;
    padding-top: 10px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 280px;
    width: 400px;
}


.page-footer::after{
    width: 100%;
    color: white;
    content: "SapienPIZza - Progetto pratico del corso linguaggi e tecnologie per il web - Autori: Tommaso Ercoli ed Alessandro De Vitis - Maggio 2020";
    
}
#footer{
    background-color:rgba(78, 85, 85, 0.85) ;
}

#titolo{
    text-align: center;
    color: rgb(255, 255, 255); 
}
#text1{
    color:white;
}
#homepage-row{
    background-color: rgba(78, 85, 85, 0.85);
}
.row{
    max-width: 110%;
    margin-right: 0;
}
.sottotitolo{
    color: red;
    font-weight: 700;
}      