.mapouter{
    position: relative;
    text-align: right;
    height: 280px;
    width: 400px;
    padding-top: 10px;
}
footer::before{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(78, 85, 85, 0.65);
  color: white;
  text-align: center;
  content: "copyright - autori: Tommaso e Alessandro - proggetto pratico linguaggi e tecnologie per il web";
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 280px;
    width: 400px;
}
body{
    background-image: url('./immagini/pizza3.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
}
#titolo{
    text-align: center;
    color: rgb(255, 255, 255); 
}
#text1{
    color:white;
}
#homepage-row{
    background-color: rgba(78, 85, 85, 0.85);
}
.sottotitolo{
    color: rgb(211, 11, 11);
}      